/* standard elements */

html {
  position: relative;
  height: 100%;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  overflow: hidden;
}

body {
  background-color: #F0F0F0;
  height: 100%;
}

#clock {
	display: flex;
	align-content: center;

	position: absolute;
	height:300px;
	width: 75%;
	float: left;
	overflow: hidden;
	border: 0;
	background-color: transparent;
	position: absolute;
	text-align: right;
	letter-spacing: 0;
	top: 50%;
	margin-top: -150px;
}

#clock:hover {
	cursor: pointer;
}

#clockFace {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	visibility: visible;	
	left: 0;
	top: 0;
	color:	#666666;
	font-family: sans-serif;
	font-weight: bold;
	vertical-align: middle;
	line-height: 300px;
	font-size: 18vw;
}

#timesUp {
	background-image: url("./images/stopHand.png");
	background-size: auto 100%;
	background-position: right center;
	background-repeat: no-repeat;
	background-color: red;
	width: 100%;
	height: 100%;
	position: absolute;
	visibility: hidden;
	z-index: 50;		
	font-size: 260px;
	font-weight: bold;
	color: white;
	left: 0;
	top: 0;
	font-family: sans-serif;
	font-size: 21vw;
	font-weight: bold;
	line-height: 300px;
}

#optionsForm {
	display: flex;
	align-items: center;
	vertical-align: center;
	justify-content: right;
	width: 100%;
	border:0px;

	visibility: hidden;
	background-color: transparent;
	text-align: right;
	z-index: 10;
	font-size: 80px;
}

input[type=number] {
	position: relative;
	height: auto;
	width: 20%;
	vertical-align: middle;
	font-size: 9vw;
	font-weight: 500;
	background-color: #EEEEEE;
	border-width: .5;
}

#control {
	display: flex;
	align-items: center;

	position: absolute;
	left: 77%;
	height:300px;
	width: 25%;
	border:0px;
	top: 50%;
	margin-top: -150px;
}
#control:hover {
	cursor: pointer;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* BUTTONS */
#reset {
	display: inline-block;
	background-image: url("images/reset.png");
}

#options {
	display: inline-block;
	background-image: url("images/options.png");
}

#ok {
	display: none;
	background-image: url("images/ok.png");
}

#cancel {
	display: none;
	background-image: url("images/cancel.png");
}
.optionButton {
	background-size: 100%;
 	width: calc((5vw));
 	height: calc((5vw)); 
	position: absolute;
	border: 0;
	opacity: 0.7;
	position: relative;
	float: left;
	margin-left: 3%;
}			
#ok:hover {
	opacity: 1;
	cursor:  pointer;
}
#cancel:hover {
	opacity: 1;
	cursor:  pointer;
}
#reset:hover {
	opacity: 1;
	cursor:  pointer;
}
#options:hover {
	opacity: 1;
	cursor:  pointer;
}

.show {
	opacity: 1;
}

.hide {
	opacity: 0;
}

.hide:hover {
	opacity: 1;
}
			

